h1{
	color:white;
	border:solid;
}
h2{
	color: white;
}
.grid-container{
	margin-top: 3%;
	text-align: center;
	color: white;
	gap: 1em;
}
label{
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
select{
	margin-left: 1em;
}

